@keyframes showButtons {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.floating-btn-wrapper {
    position: fixed;
    z-index: 9997;
    display: flex;
    flex-direction: column;
    gap: 10px;
    right: 3%;
    bottom: 3%;
    animation: showButtons 1s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
    animation-delay: 2s; 
    opacity: 0;
}
.floating-btn-wrapper > .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.3s ease-out;
    overflow: hidden;
    color: #ffffff;
}
.floating-btn-wrapper > .btn:nth-child(3) {
    background-color: #9979e9;
}
.floating-btn-wrapper > .btn > img {
    width: 100%;
    object-fit: cover;
}

/* hover: hover: 호버 가능한 장치(=마우스 등)일 때만 적용
pointer: fine: 정밀한 입력 장치(마우스처럼)일 때만 적용
모바일은 보통 hover: none이므로 이 스타일은 적용되지 않음 */
@media (hover: hover) and (pointer: fine) {
    .floating-btn-wrapper > .btn:hover {
      transform: translateY(-6px);
      cursor: pointer;
    }
}


@media screen and (max-width: 768px) {
    .floating-btn-wrapper {
        right: 2%;
        bottom: 2%;
    }
    .floating-btn-wrapper > .btn {
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width: 540px) {
    .floating-btn-wrapper > .btn:nth-child(3) {
        font-size: 12px;
    }
}