.container-menu {
    padding: 70px 0px 0px 0px;
}
.container-menu > .intro-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
}
.container-menu > .intro-img-drink {
    background: url('/src/asset/img/menu-drink.jpg') no-repeat center/cover;
}
.container-menu > .intro-img-dessert {
    background: url('/src/asset/img/menu-dessert.jpg') no-repeat center/cover;
}
.container-menu > .intro-img-season {
    background: url('/src/asset/img/menu-season-1.jpg') no-repeat center/cover;
}
.container-menu > .content > .title {
    width: 100%;
    max-width: 1080px;
    text-align: center;
}
.container-menu > .content > .title > p:nth-child(1) {
    font-family: 'Pretendard-B';
    font-size: 32px;
    padding-top: 0px;
}
.container-menu > .content > .title > p:nth-child(2) {
    font-family: 'Pretendard-M';
    font-size: 20px;
    padding-top: 10px;
    word-break: keep-all;
    line-height: normal;
}
.container-menu > .menu-bar {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
.container-menu > .menu-bar > ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.container-menu > .menu-bar > ul > li {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.container-menu > .menu-bar > ul > li:hover {
    font-family: 'Pretendard-B';
}
.container-menu > .content {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 10px;
}
.container-menu > .content > .title {
    font-family: 'Pretendard-SB';
    font-size: 20px;
    padding-bottom: 30px;
}
.container-menu > .content > .inner {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.container-menu > .content > .inner > .menu {
    background-color: #fff6f6;
}
.container-menu > .content > .inner > .menu-primium {
    background-color: #f5fcfc;
}
.container-menu > .content > .inner > .menu-signature {
    background-color: #f8f4fa;
}
.container-menu > .content > .inner > .menu > .title {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #d82234;
    border-top: 1px solid #d82234;
    border-bottom: 1px solid #d82234;
    background-color: #ffe4e4;
}
.container-menu > .content > .inner > .menu-primium > .title {
    color: #04739f;
    background-color: #e2f3f2;
    border-top: 1px solid #04739f;
    border-bottom: 1px solid #04739f;
}
.container-menu > .content > .inner > .menu-signature > .title {
    color: #621095;
    background-color: #ebdef3;
    border-top: 1px solid #621095;
    border-bottom: 1px solid #621095;
}
.container-menu > .content > .inner > .menu > .title > span {
    font-family: 'Pretendard-B';
    font-size: 24px;
}
.container-menu > .content > .inner > .menu > .description {
    line-height: 1.6rem;
    padding: 24px;
    border-bottom: 1px solid #d82234;
}
.container-menu > .content > .inner > .menu-primium > .description {
    border-bottom: 1px solid #04739f;
}
.container-menu > .content > .inner > .menu-signature > .description {
    border-bottom: 1px solid #621095;
}
.container-menu > .content > .inner > .menu > .description > .highlight {
    font-size: 20px;
    font-family: 'Pretendard-B';
}
.container-menu > .content > .inner > .menu > .coffee-line-up {
    text-align: left;
    padding: 24px;
    margin-bottom: 40px;
}
.container-menu > .content > .inner > .menu > .coffee-line-up > div {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}
.container-menu > .content > .inner > .menu > .coffee-line-up .title {
    font-size: 20px;
    font-family: 'Pretendard-B';
    padding-bottom: 6px;
}
.container-menu > .content > .inner > .menu > .coffee-line-up li {
    line-height: 22px;
}



.container-menu > .content > .inner > .item-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
}
.container-menu > .content > .inner > .item-wrapper > .item {
    width: calc(50% - 10px);
    height: 500px;
}
.container-menu > .content > .inner > .item-wrapper > .item > .img {
    width: 100%;
    height: 60%;
    border-radius: 16px;
    border: 1px solid #d3d3d3;
}


/* 스위트 모먼트 이미지 */
.container-menu > .content > .inner > .item-wrapper > .item > .waffle {
    background: url('/src//asset/img/menu-waffle-2.jpg') no-repeat center 65%/cover;
}
.container-menu > .content > .inner > .item-wrapper > .item > .churros {
    background: url('/src//asset/img/menu-churros.jpg') no-repeat center/cover;
}
.container-menu > .content > .inner > .item-wrapper > .item > .financier {
    background: url('/src//asset/img/menu-financier.jpg') no-repeat center/cover;
}
.container-menu > .content > .inner > .item-wrapper > .item > .madeleine {
    background: url('/src//asset/img/menu-madeleine.jpg') no-repeat center/cover;
}
.container-menu > .content > .inner > .item-wrapper > .item > .chocochip-cookie {
    background: url('/src//asset/img/menu-chocochip-cookie.jpg') no-repeat center/cover;
}
.container-menu > .content > .inner > .item-wrapper > .item > .tiramisu {
    background: url('/src//asset/img/menu-tiramisu.jpg') no-repeat center/cover;
}
.container-menu > .content > .inner > .item-wrapper > .item > .snack-bag {
    background: url('/src//asset/img/menu-snack-bag.jpg') no-repeat center/cover;
}
/* 스위트 모먼트 이미지 */


.container-menu > .content > .inner > .item-wrapper > .item > .fruit {
    background: url('/src//asset/img/menu-fruit.jpg') no-repeat center 90%/cover;
}
.container-menu > .content > .inner > .item-wrapper > .item > .bingsu {
    background: url('/src//asset/img/menu-bingsu.jpg') no-repeat center top/contain;
}
.container-menu > .content > .inner > .item-wrapper > .item > .sandwich {
    background: url('/src//asset/img/menu-sandwich.jpg') no-repeat center/cover;
}
.container-menu > .content > .inner > .item-wrapper > .item > .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    padding: 10px;
}
.container-menu > .content > .inner > .item-wrapper > .item > .top > .name,
.container-menu > .content > .inner > .item-wrapper > .item > .top > .price {
    font-family: 'Pretendard-B';
}
.container-menu > .content > .inner > .item-wrapper > .item > .bottom {
    text-align: left;
}
.container-menu > .content > .inner > .item-wrapper > .item > .bottom > .description {
    line-height: 22px;
    border-top: 1px solid #d3d3d3;
    padding: 10px;
}
.container-menu > .content > .inner > .item-wrapper > .item > .bottom > .description > .option {
    color: #e74354;
    font-family: 'Pretendard-B';
}

@media screen and (max-width: 850px) {
    .container-menu > .menu-bar > ul {
        flex-wrap: wrap;
        row-gap: 10px;
    }
}
@media screen and (max-width: 768px) {
    .container-menu > .content > .inner > .item-wrapper > .item {
        height: 400px;
    }
    .container-menu > .content > .inner > .item-wrapper > .item > .top {
        font-size: 20px;
    }
}
@media screen and (max-width: 540px) {
    .container-menu > .content > .inner > .menu > .title > span {
        font-size: 20px;
    }
    .container-menu > .content > .inner > .menu > .description {
        font-size: 14px;
        line-height: 20px;
    }
    .container-menu > .content > .inner > .menu > .description br {
        display: none;
    }
    .container-menu > .content > .inner > .menu > .coffee-line-up .title {
        font-size: 18px;
    }
    .container-menu > .content > .inner > .menu > .coffee-line-up li {
        font-size: 14px;
    }
    .container-menu > .content > .inner > .menu > .description > .highlight {
        font-size: 18px;
        padding-bottom: 8px;
        line-height: 24px;
    }
    .container-menu > .content > .title > p:nth-child(1) {
        font-size: 28px;
    }
    .container-menu > .content > .title > p:nth-child(2) {
        font-size: 18px;
        padding-top: 4px;
    }
    .container-menu > .content > .inner > .menu > .coffee-line-up > div > div {
        width: calc((100% - 30px)/2);
    }


    .container-menu > .content > .inner > .item-wrapper > .item {
        width: 100%;
        height: 350px;
    }
}
