.container-menu {
    padding: 70px 0px 0px 0px;
}
.container-menu > .intro-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
}
.container-menu > .intro-img-drink {
    background: url('/src/asset/img/menu-drink.jpg') no-repeat center/cover;
}
.container-menu > .intro-img-dessert {
    background: url('/src/asset/img/menu-dessert.jpg') no-repeat center/cover;
}
.container-menu > .intro-img-season {
    background: url('/src/asset/img/menu-season-1.jpg') no-repeat center/cover;
}
.container-menu > .content > .title {
    width: 100%;
    max-width: 1080px;
    text-align: center;
}
.container-menu > .content > .title > p:nth-child(1) {
    font-family: 'Pretendard-B';
    font-size: 32px;
    padding-top: 0px;
}
.container-menu > .content > .title > p:nth-child(2) {
    font-family: 'Pretendard-M';
    font-size: 20px;
    padding-top: 10px;
    word-break: keep-all;
    line-height: normal;
}
.container-menu > .menu-bar {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
.container-menu > .menu-bar > ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.container-menu > .menu-bar > ul > li {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.container-menu > .menu-bar > ul > li:hover {
    font-family: 'Pretendard-B';
}
.container-menu > .content {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 10px;
}
.container-menu > .content > .title {
    font-family: 'Pretendard-SB';
    font-size: 20px;
    padding-bottom: 30px;
}
.container-menu > .content > .inner > img {
    width: 100%;
    max-width: 800px;
}
.container-menu > .content > .inner > .title {
    font-family: 'Pretendard-SB';
    font-size: 40px;
    padding: 30px 0px;
}
.container-menu > .content > .inner > .item-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
}
.container-menu > .content > .inner > .item-wrapper > .item {
    width: calc(50% - 10px);
    height: 450px;
}
.container-menu > .content > .inner > .item-wrapper > .item > .img {
    width: 100%;
    height: 80%;
    border-radius: 16px;
    border: 1px solid #d3d3d3;
}
.container-menu > .content > .inner > .item-wrapper > .item > .waffle {
    background: url('/src//asset/img/menu-waffle-2.jpg') no-repeat center 65%/cover;
}
.container-menu > .content > .inner > .item-wrapper > .item > .fruit {
    background: url('/src//asset/img/menu-fruit.jpg') no-repeat center 90%/cover;
}
.container-menu > .content > .inner > .item-wrapper > .item > .bingsu {
    background: url('/src//asset/img/menu-bingsu.jpg') no-repeat center top/contain;
}
.container-menu > .content > .inner > .item-wrapper > .item > .sandwich {
    background: url('/src//asset/img/menu-sandwich.jpg') no-repeat center/cover;
}
.container-menu > .content > .inner > .item-wrapper > .item > .tiramisu {
    background: url('/src//asset/img/menu-tiramisu.jpg') no-repeat center/cover;
}
.container-menu > .content > .inner > .item-wrapper > .item > .description > .name {
    font-family: 'Pretendard-B';
    font-size: 22px;
    padding: 14px 0px 6px 0px;
}
.container-menu > .content > .inner > .item-wrapper > .item > .description > .price {
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .container-menu > .intro {
        padding: 20px 0px;
    }
    .container-menu > .intro > .text > p:nth-child(1) {
        font-size: 32px;
    }
    .container-menu > .intro > .text > p:nth-child(2) {
        font-size: 20px;
    }
    .container-menu > .content {
        padding: 30px 10px;
    }
    .container-menu > .content > .inner > .item-wrapper > .item {
        height: 380px;
    }
    .container-menu > .content > .inner > .item-wrapper > .item > .img {
        height: 76%;
    }
}
@media screen and (max-width: 540px) {
    .container-menu {
        padding: 60px 0px 0px 0px;
    }
    .container-menu > .intro {
        padding: 0px;
    }
    .container-menu > .content {
        padding: 20px 10px;
    }
    .container-menu > .content > .inner > .title {
        font-size: 26px;
    }
    .container-menu > .content > .inner > .item-wrapper > .item {
        width: 100%;
    }
}
