@keyframes scaleUp {
  0% {
    transform: scale(0.96);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.container-momo > .section-1 {
    width: 100%;
    height: 600px;
    background-color: #80c9b8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px 0px 0px;
}
.container-momo > .section-1 > .logo {
    width: 300px;
    animation: scaleUp 1.2s ease-in-out forwards;
}
.container-momo > .section-2 {
    text-align: center;
}
.container-momo > .section-2 .title > p {
    font-family: 'NanumSquareNeo-EB';
    font-size: 2.5rem;
    text-align: center;
    padding-top: 70px;
}
.container-momo > .section-2 .content {
    font-family: 'Pretendard-L';
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 30px 0px 30px 0px;
}
.container-momo > .section-2 > .img-container {
    gap: 0;
    height: 30vw;
    margin-top: 30px;
}
.container-momo > .section-2 > .img-container > img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1080px) {
    .container-momo > .section-1 {
        padding: 20% 0% 10% 0%;
        height: auto;
    }
    .container-momo > .section-1 > .logo {
        width: 30%;
    }
}
@media (max-width: 768px) {
    .container-momo > .section-2 > .img-container {
        height: auto;
    }
    .container-momo > .section-2 > .img-container > img {
        width: 100%;
    }
}
@media (max-width: 540px) {
    .container-momo > .section-1 {
        padding: 26% 0% 10% 0%;
    }
    .container-momo > .section-2 .title > p {
        font-size: 1.8rem;
        padding-top: 50px;
    }
    .container-momo > .section-2 .content {
        font-size: 1rem;
        line-height: 1.6rem;
        padding: 20px 0px 20px 0px;
    }
}