.footer {
    width: 100%;
    background-color: #2B2B2B;
    color: #ffffff;
    padding: 50px;
    line-height: 1.5rem;
}
@media (max-width: 540px) {
    .footer {
        padding: 40px 20px;
        font-size: 14px;
    }
}